<h2>Tasks in category</h2>
<ul>
  <li><% @tasks.each do |task| %></li>
  <li>Task: <br> <%= task.paideuo %></li>
  <br>
  <li>Date Time: <br> <%= task.datetime %></li>
  <br>
  <li>Partner: <br> <%= task.partner_id %></li>
    <%=   raise 'error' %>


  <% end %>
</ul>