<h2>Create your task</h2>

<%= form_for(:task, :url => {:controller => 'tasks', :action => 'create'}) do |f| %>
  <p>Task name: <%= f.text_field :paideuo %></p>
  <p>Complete by: <%= f.datetime_field :datetime %></p>
  <%= f.submit %>
  <% end %>