<h2>Our beloved users</h2>
<ul>
  <% @users.each do |user| %>
  <li><%= link_to user.name, user %></li>
  <li>Image Here:<%= image_tag user.image %></li>
  <li>Email here: <%= user.email  %></li>
  <li>Password: <%= user.password_digest %></li>
  <% end %>

</ul>

