<% if @current_user == nil %>
    <div class="container">
      <div class="home-page-words">
        <h1>Paideuó</h1>
        <p>Paideuó, Pronounced (pahee-dyoo'-o) means "a child under development with strict training" – properly,<br> to train up a child, so they mature and realize their full potential (development).<br>This requires necessary discipline (training), which includes administering chastisement (punishment).</p>
        <br>
        <p>
          The team at Paideuó wish you all the best in your journey to reach your full potential
        </p>
      </div>
    </div>
  <% elsif @current_user.categories.present? %>
    <div class="row">
      <% @current_user.categories.each_with_index do |category, index| %>
      <% if (index % 3) == 0 && index > 0 %>
    </div>
      <div class="row">
    <% end %>
        <div class="col-md-4">
          <div class="task-group well well-lg">
            <div class="colour">
    <!-- <h4>Category</h4> -->
              <h5><%= link_to(category.heading, category) %></h5>
    <!-- <h4>Tasks</h4> -->
              <% category.tasks.each do |task| %>
              <p><%= task.paideuo %><br> Due: <%= task.datetime.strftime('%I:%M %p %B %d, %Y') if task.datetime %><br>
              <%= link_to('Completed?', category_task_path(category.id,task.id), :method => :delete, :data => {:confirm => 'Are you sure?'}) %></p>
              <% end %>
          </div>
        </div>
      </div>
              <% end %>
   </div>

  <% else @current_user.present? %>
    <div class="container">
      <div class="home-page-words">
        <h1>Paideuó</h1>
        <p>Paideuó, Pronounced (pahee-dyoo'-o) means "a child under development with strict training" – properly,<br> to train up a child, so they mature and realize their full potential (development).<br>This requires necessary discipline (training), which includes administering chastisement (punishment).</p>
        <br>
        <p>To start using Paideuó create a category and tasks in areas where you wish to grow or jobs you want completed. As you create the task add in an accountability partners email. If you do not complete the task on time they will receive and email and follow up on you. So remember to click task completed when you've finished.</p>
        <p>
          The team at Paideuó wish you all the best in your journey to reach your full potential
        </p>
      </div>
    </div>
<% end %>


