<% if @current_user.present? %>
    <div class="row">
    <% @current_user.categories.each_with_index do |category, index| %>
      <% if (index % 3) == 0 && index > 0 %>
    </div><div class="row">
      <% end %>
      <div class="col-md-4">
        <div class="task-group well well-lg">
          <!-- <h4>Category</h4> -->
          <h5><%= category.heading %></h5>
          <!-- <h4>Tasks</h4> -->
          <% category.tasks.each do |task| %>
            <p><%= task.paideuo %><br> Due: <%= task.datetime.strftime('%I:%M %p %B %d, %Y') if task.datetime %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class="container">
      <div class="home-page-words">
      <h1>Paideuó</h1>
    <h4><em>Please Sign up or login<em></h4>
    </div>
    </div>
<% end %>


