This is the home page

<% if @current_user.present? %>
  <% @current_user.categories.each do |category | %>
  <h3>Categories</h3>
  <h2><%= category.heading %></h2>
  <h3>Tasks</h3>
  <% category.tasks.each do |task| %>
  <p><%= task.paideuo %></p>
  <% end %>
  <% end %>
<% else %>
<p>Please Sign up or login</p>

<% end %>
