<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @partner.name.capitalize %> it's Paideuó Time.</h1>

    <p><%= @partner.name.capitalize %> you were carefully chosen to encourage and give paideuó.</p>
    <p>
      Paideuó, Pronounced (pahee-dyoo'-o) means "a child under development with strict training" – properly, to train up a child, so they mature and realize their full potential development. This requires necessary discipline (training), which includes administering chastisement (punishment).
    </p>
    <p>
      If this is the first time they have failed to complete a task, we suggest you give them encouragement and support, but if this is becoming a consistent theme some you know what to do.
    </p>


    <p>Thanks for joining and have a great day!</p>
    <p>Under Paideuó</p>
    <p>Lawrence</p>

  </body>
</html>