<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Giving shite email Welcome to Paideuó, </h1>
    <p>
     You have successfully signed up to Paideuó,
your username is: .

To login to the site, just follow this link:.<br>
    </p>
    <p>
      Paideuó, Pronounced (pahee-dyoo'-o) means "a child under development with strict training" – properly, to train up a child, so they mature and realize their full potential development. This requires necessary discipline (training), which includes administering chastisement (punishment).
    </p>
    <p>What you signed up for?

  Paideuó is a Task Manager System with integrated accountability partners of your choosing, so that you can't get away scotch free if you dont complete your tasks. Encapsulating the meaning of Paideuó.</p>
<p>Make the most of it, to make the most out of yourself.</p>
    <p>Thanks for joining and have a great day!</p>
    <p>Under Paideuó</p>
    <p>Lawrence</p>

  </body>
</html>