<h2>All Categories</h2>
  <ul>

  <% @category.each do |category| %>
  <li><%= category.heading %></li>
  <br>
  <li><%= link_to(category.tasks, category) %></li>
  <% end%>
  <button>View</button>
</ul>

