<h4>All Categories</h4>
  <ul>
  <% @category.each do |category| %>
  <li class="inline">
    <h3><%= link_to(category.heading, category) %></h3>
    <%= link_to( 'edit', edit_category_path(category.id)) %>
    <%= link_to('delete', category, :method => :delete, :data => { :confirm => 'Are you sure?'}) %>
  </li>

  <% end%>
</ul>



