<h2>All Categories</h2>
  <ul>

  <% @category.each do |category| %>
  <br>
  <li><%= link_to(category.heading, category) %>""<%= link_to( 'edit', edit_category_path(category.id)) %>""
    <%= link_to('delete', category, :method => :delete, :data => { :confirm => 'Are you sure?'}) %></li>

  <% end%>
  <button>View</button>
</ul>



