<div class="Category_form">

<h3>Current Categories</h3>
<br>
<div class="under-category">
  <% @current_user.categories.each do |category| %>
    <h4><%= category.heading %></h4>
  <% end %>
</div>

  <%= form_for(:category, :url => {:controller => 'categories', :action => 'create'}) do |f| %>
    <h4>Create Your Category Heading:</h4>
    <%= f.text_field :heading, class: "form-control" %>
    <br>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>