<h2>Your Current Categories:</h2>

<%= @category.heading %>
<% @tasks.each do |task| %>

<p><%= task.paideuo %> <%= link_to('edit', category_task_path(@category.id, task.id)) %></p>
<% end %>

<h2>Add task to this cateogry</h2>

<%= link_to('Add Task', new_category_task_path(@category.id))  %>


